/* Header Nav */

.topnavwrapper {
  flex-direction: row;
  border: #c6d0f5 1px solid;
  border-radius: 1px;
  margin: auto;
  width: 100%;
}

.topnav {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  font-size: 25px;

  p {
    margin: 10px;
    color: #81c8be;
  }
}

.topnav a:visited {
  color: #81c8be;
}

.topnav a {
  font-size: 25px;
  text-decoration: none;
}

/* Main Wrapper */

.mainwrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  width: 100%;
  padding-top: 10px;
}

/* Main Index Content */

.fieldindex {
  padding-left: 10px;
  border: 1px solid;
  border-color: #c6d0f5;
  border-radius: 1px;
  width: 90%;
}


/* Sidebar */

.sidenav {
  padding: 10px;
  width: 10%;
  border: 1px solid;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #81c8be;
  display: block;
}

.sidenav a:hover {
  color: #e5c890;
}

.fieldnav {
  width: 10%;
  border: #c6d0f5 1px solid;
}

.fieldusefulprograms {
  width: 90%;
  border: #c6d0f5 1px solid;
}

fieldset legend {
  color: #e5c890;
}