body {
  background-color: #303446;
  color: #c6d0f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #68c8be
}

a:link {
  color: #85c1dc;
}

a:visited {
  color: #ca9ee6;
}

/* Header Nav */

header {
  margin: 7px;
  background-color: #394056;
  padding: 10px;
  border: 1px solid;
  border-color: #c6d0f5;
  border-radius: 1px;
}

header p {
  font-size: 25px;
  margin: 0;
  padding: 0;
  color: #85c1dc;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a:visited {
  color: #85c1dc;
}

/* Main Index Content */

.indexcontent {
  text-align: center;
}

.indexcontent ul {
  list-style-type: none;
  width: fit-content;
  /* Or a specific width like 200px */
  margin: 0 auto;
}

.indexcontent section {
  margin: 7px;
  padding: 10px;
  border: 1px solid;
  border-color: #c6d0f5;
  border-radius: 1px;
  text-align: center;
  margin-left: 15vw;
  padding-right: 1.2vw;
}

/* sidebar */
.sidenav {
  width: 13.5vw;
  height: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-left: .7vw;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 65px;
  border: #c6d0f5 1px solid;
  background-color: #394056;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}